<div class="flex gap-1 justify-center">

  @for (star of [1, 2, 3, 4, 5]; track star) {
    <svg (mouseenter)="hoverRating = star"
      (mouseleave)="hoverRating = 0"
      (click)="selectRating(star)"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="w-7 h-7 cursor-pointer transition-transform duration-200 hover:scale-110"
      [ngClass]="(hoverRating || currentRating) >= star? 'fill-amber-500': 'fill-slate-300'">
      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
    </svg>
  }

</div>
