<h1 class="welcome">Welcome to The Hartford</h1>
<section class="welcome-banner">
  <!-- LEFT CONTENT -->
  <div class="banner-text">
    <h1>
      We Work To Earn<br />
      Your Trust Every<br />
      Day
    </h1>

    <p>
      Showing up for people isn’t just what we do, it’s who we’ve been for over
      200 years. And while it looks different every day, we do whatever we can
      to innovate for our customers, our communities and our employees.
      Because you put your trust in us.
    </p>
  </div>

  <!-- RIGHT IMAGE -->
  <div class="banner-image">
    <img src="assets/stage.gif" alt="The Hartford Deer" />
  </div>
</section>
