*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin:0;
    min-height:100vh;
    background:#eef3f8;
    display:flex;
    justify-content:center;
    align-items:center;
}

.insurance{
    background:#ffffff;
    width:100%;
    max-width:500px;
    padding:32px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

h2{
    text-align:center;
    color:#1f3c88;
    margin-bottom:6px;
}

p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.fields{
    margin-bottom:16px;
}

label{
    display:block;
    margin-bottom:6px;
    font-weight:600;
    color:#333;
}

input, select, textarea{
    width:100%;
    padding:10px 12px;
    border-radius:6px;
    border:1px solid #cbd5e1;
    font-size:14px;
    background:#f9fafb;
    transition:0.3s;
}

input:focus,select:focus,textarea:focus{
    outline:none;
    border-color:#1f3c88;
    background:#ffffff;
    box-shadow:0 0 0 2px rgba(31,60,136,0.1);
}

textarea{
    resize:none;
    height:90px;
}

.radio-group {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.radio-group input {
  display: none;
}

.radio-group span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #cfe5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f6ff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.radio-group input:checked+span{
  background: #171718;
  color: white;
  border-color: #171718;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

button{
    width:100%;
    margin-top:10px;
    background:#1f3c88;
    color:white;
    border:none;
    padding:12px;
    font-size:15px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#162c66;
}

.error{
    color:#d62828;
    font-size:12px;
    margin-top:4px;
}

.success{
    margin-top:15px;
    background:#e6f9f0;
    color:#147a4d;
    padding:10px;
    border-radius:6px;
    text-align:center;
    font-weight:600;
}
