<footer class="footer">

  <div class="footer-top">
    <div class="column">
      <h4>Products</h4>
      <p>Auto</p>
      <p>Home</p>
      <p>Business</p>
      <p>Employee Benefits</p>
      <p>Mutual Funds</p>
    </div>

    <div class="column">
      <h4>Company</h4>
      <p>About Us</p>
      <p>Careers</p>
      <p>Agents & Producers</p>
      <p>Newsroom</p>
      <p>Investor Relations</p>
      <p>Mobile App</p>
    </div>

    <div class="column">
      <h4>Connect</h4>
      <p>Contact Us</p>
      <p>Report a Claim</p>
      <p>Find an Agent</p>
      <p>Small Business Playbook</p>
      <p>Small Biz Ahead</p>
      <p>Extra Mile</p>
    </div>

    <div class="column">
      <h4>Access Your Account</h4>
      <p>View your policy, pay your bill, view claims status and more.</p>

      <button class="login-btn">Auto & Home Login</button>
      <button class="login-btn">Business Insurance Login</button>
    </div>
  </div>

  <hr />

  <div class="footer-middle">
    <div class="brand">
      <img src="assets/footer.png" alt="The Hartford">
    </div>

    <div class="social-icons">
      <span><img src="assets/instagram.png"></span>
      <span><img src="assets/facebook.png"></span>
      <span><img src="assets/linkedin.png"></span>
      <span><img src="assets/youtube.png"></span>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="legal-links">
      <span>Legal Notice</span>
      <span>Accessibility Statement</span>
      <span>Producer Compensation</span>
      <span>EEO</span>
      <span>Privacy Policy</span>
      <span>Your California Privacy Choices </span>
    </div>
    <div class="copyright"><br>
      © 2026 Angular Training
    </div>
  </div>

</footer>
