# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / VS Code
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store