<div class="min-h-screen bg-slate-100 p-10">

  <h1 class="text-3xl font-bold text-slate-900 text-center mb-10">
    Product Ratings
  </h1>

  <div class="grid grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 gap-10 max-w-3xl mx-auto">

    @for(product of products; track product.id; let i = $index){
        <div class="bg-white rounded-xl p-6 shadow-md border border-slate-200 hover:shadow-xl transition-shadow">
            <h2 class="text-lg font-semibold text-slate-900 mb-2 text-center">
                {{ product.name }}
            </h2>

            <!-- Child Component -->
            <app-rating
                (ratingSelected)="updateRating(i, $event)">
            </app-rating>

            <!-- Rating Text -->
            <p class="mt-4 text-center font-medium" [ngClass]="product.rating ? 'text-slate-900' : 'text-slate-400'">
                {{ 
                    product.rating ? 'Rating: ' + product.rating + ' / 5 ⭐': 'Not rated yet'
                }}
            </p>
        </div>
    }
  </div>
</div>
